contracts/target/debug/deps/libstellar_dlmm_math.so filter=lfs diff=lfs merge=lfs -text
contracts/target/debug/deps/libstellar_xdr-24b56001061b491a.rlib filter=lfs diff=lfs merge=lfs -text
contracts/target/debug/deps/stellar_dlmm_math-8d64dc565fe6a87a filter=lfs diff=lfs merge=lfs -text
